<!DOCTYPE html>

<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login admin </title>
      <link rel="stylesheet" href="/styles1.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            admin login
         </div>
         <form action="#">
            <div class="field">
               <input type="text" required>
               <label>User Name</label>
            </div>
            <div class="field">
               <input type="password" required>
               <label>Password</label>
            </div>
            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
               <div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            {{!-- <div class="signup-link">
               Not a member? <a href="#">Signup now</a>
            </div> --}}
         </form>
      </div>
   </body>
   <script>
    console.log('login head hiiii')
    document.addEventListener('DOMContentLoaded', () => {
        document.querySelector('form').addEventListener('submit', formValidate);
    })


    function formValidate(e) {
        console.log('1')
        e.preventDefault();
        const username = document.getElementById('username').value;
        const password = document.getElementById('password').value;
        console.log(username, password)
        if (username == '' || password == '') {
            swal({
                title: "Failed...!",
                text: "All fields are required",
                icon: "error",
            });
            //swal("All fields are required");
            //Swal.fire('All are required');
            return false;
        }

        console.log("proceed..")
        e.target.submit();
        return true;
    }
</script>
</html